build
bin
.gradle
gradle
classes
.settings
.DS_STORE
.DS_Store
odb.*
logs
.cache-main
.cache-tests
.classpath
.settings/
.project
conf/startup.properties

felix-cache/
db/
gradlew*
hs_err*.log
gradle.properties
